/* globals.css */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=sans-serif:wght@400;500;600;700&display=swap');
.custom-shape-divider-top-1765332317 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
