/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=sans-serif:wght@400;500;600;700&display=swap');

@import "tailwindcss";


@keyframes slide-soft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40px);
  }
}

.animate-slide-soft {
  animation: slide-soft 4s linear infinite alternate;
}
